@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>Huskjen is an address book web application, written in ASP.NET Core MVC using C#. The word "huskjen" is a west norwegian dialectal word which means "the memory". Fitting for a web app which remembers information for you.</p>

<h4>How It Works</h4>
<p>Some information about how it works.</p>
