@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h5>Do not provide real personal data.</h5>
<p>This application is for demonstrational purposes only, and data registered in the address book is visible to everyone. <strong>Registration of information is therefore at your own risk.</strong></p>
